* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

body {
  font-family: Georgia, Times, "Times New Roman", Serif;
  line-height: 1.5;
}

.logo {
  color: #FFE200;
}

header {
  background-color: #723F3F;
  margin-bottom: 4rem;
  padding: .5rem 0 .5rem 2rem;

}

/*Articles styles*/
.articles {
  margin: 0 auto;
  width: 720px;
}

article > img {
  width: 100%;
}

article > h2,
article > img,
article > p {
  margin-bottom: 2rem;
}
